<h3>Udało ci się pomyślnie zarejestrować w serwisie</h3>

Witaj {{ name }}! Udało ci się pomyślnie zarejestrować w serwisie.

Aby się zalogować kliknij na <a href="{{ url('login') }}">link</a>.

Dziękujemy!