{% extends "base.html.twig" %}

{% block title %}Logowanie{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            Witaj! Wypełnij formularz aby się zalogować:
        </div>
        <div class="panel-body">
            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Nazwa użytkownika:</label>
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Hasło:</label>
                    <input type="password" class="form-control" id="password" name="_password" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Zaloguj</button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path" value="/user/profile" />
            </form>
            <a href="{{ path('request_pasword_change') }}">Nie pamiętam hasła</a><br>
            <a href="{{ path('password_expired') }}">Hasło wygasło</a>
        </div>
    </div>
{% endblock %}