{% extends "base.html.twig" %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Hasło wygasło? Wypełnij poniższy formularz aby zmienić hasło na nowe
        </div>
        <div class="panel-body">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}