{% extends "base.html.twig" %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            Witaj, aby zmienić hasło skożystaj z poniższego formularza:
        </div>
        <div class="panel-body">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}