{% extends "base.html.twig" %}

{% block title %}Rejestracja{% endblock %}

{%  block body %}
    <div class="row">
        <div class="col">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Witaj! Aby się zarejestrować wypełnij podany formularz:
                </div>
                <div class="panel-body">
                    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}