{% extends "base.html.twig" %}

{% block title %}Przypomnienie hasła{% endblock %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Nie pamiętasz hasła? Wypełnij formularz a link do zmiany hasła zostanie wysłany na twój adres email</div>
        <div class="panel-body">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}