{% extends "base.html.twig" %}

{% block title %}Hasło zresetowane{% endblock %}

{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading">Sukces!</div>
        <div class="panel-body">
            <p>Na twój adres email został wysłany link do formularza zmiany hasła.</p>
            <p>Jeżeli wiadomość nie dotarła sprawdź folder spam</p>
        </div>
    </div>
{% endblock %}