{% extends "base.html.twig" %}
{% block title %}Profil{% endblock %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profil użytkownika</h3>
        </div>
        <table class="table">
            <tr><td>Imię: {{ user.getName() }}</td></tr>
            <tr><td>Nazwisko: {{ user.getSurname() }}</td></tr>
            <tr><td>Data urodzenia: {{ user.getBirthdate() | date('Y-m-d') }}</td></tr>
            <tr><td>Numer PESEL: {{ user.getPesel() }}</td></tr>
            <tr><td>E-mail: {{ user.getEmail() }}</td></tr>
            <tr><td>Hasło wygasa {{ user.getPasswordExpiryDate | expireDate }}</td></tr>
            <trt><td>Załączniki:</td></trt>
            {% for file in user.getUserFiles %}
                <tr><td style="text-indent: 2em"><a href="{{ asset('uploads/user_files/' ~ file.getFilePath) }}" target="_blank">{{ file.getOriginalName }}</a></td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}