{% extends "base.html.twig" %}

{% block title %} Pojawił się błąd: {{ status_text }}{% endblock %}
{% block body %}
    <div class="alert alert-danger" role="alert">
        <h3>Ups! Coś poszło nie tak :(</h3>
    </div>
    <h2>"{{ status_code }} {{ status_text }}".</h2>
{% endblock %}
